.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.App button {
  background: green;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.App button:hover {
  color: red;
  background: white
}

.App button.Red {
  background-color: red;
}

.App button.Red {
  background-color: salmon;
  color: black;
}